<footer>
	<nav class = "round">
		<%= render 'layouts/links_list' %>
	</nav>
	<%= image_tag("footer_top.gif", :alt => "Kappa Delta Rho")%>
	<%= image_tag("footer_middle.gif", :alt => "Kappa Delta Rho")%>
	<%= image_tag("footer_bottom.gif", :alt => "Kappa Delta Rho")%>
</footer>